* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid white;
}

#container-break, #container-session, #container-timer {
  display: grid;
  place-items: center;
  border: 1px solid white;
  font-size: 1.5rem;
}

h1 {
  display: grid;
  place-items: center;
  border: 1px solid white;
  grid-column: 1 / span 2;
  padding: 1em;
}

#container-break {
  grid-row: 2;
  grid-column: 1;
}

#container-session {
  grid-row: 2;
  grid-column: 2;
}

#container-timer {
  grid-row: 3;
  grid-column: 1 / span 2;
}

#timer-control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

#timer-label {
  font-size: 1.5rem;
}

#time-left {
  display: grid;
  place-items: center;
  font-size: 3rem;
}

#start_stop, #reset, #break-decrement, #break-increment, #session-decrement, #session-increment {
  cursor: pointer;
}